.category__wrapper {
  padding: 100px 0;
  background: #14110E;

  .category {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 18px;

    &__item {
      transition: all 0.3s ease;
      margin-bottom: 15px;
      p {
        color: white;
        margin-bottom: 24px;
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        span {
          color: #c99e71;
        }
      }
      &:hover {
        transform: scale(1.04);
      }
    }
  }
}

@media (max-width: 900px) {
  .category__wrapper {
    .category {
      grid-template-columns: 1fr 1fr;
    }
  }
}


