.header {
  background: #1c1814;
  .navbar {
    position: relative;
    height: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__list {
      display: flex;
      gap: 48px;
    }
    &__logo {
     max-width: 100%;
    }
     &__link {
      color: white;
      span {
        font-size: 18px;
        font-weight: 400;
        color: #fff;
      }
        &:hover span {
        color: #C99E71;
;
        text-decoration: underline;
      }
  }
}
}